




<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav [mode]="mode.value || 'push'">
      <p><button mat-button (click)="sidenav.toggle()">Close</button></p>
      <p>

            <app-portal></app-portal>

      </p>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">Edit</button></p>
      <p>
         <app-portal></app-portal>
      

      </p>
   
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  
  